# Join And Append

## join

In [5]:
import pandas as pd
var1=pd.DataFrame({"A":[1,2,3,4],"B":["a","b","c","d"]})
var2=pd.DataFrame({"C":[1,2,3,4],"D":["a","b","c","d"]})
var1.join(var2)

   A  B  C  D
0  1  a  1  a
1  2  b  2  b
2  3  c  3  c
3  4  d  4  d

In [8]:
var1=pd.DataFrame({"A":[1,2,3,4],"B":["a","b","c","d"]},index=[10,20,30,40])
var2=pd.DataFrame({"C":[1,2],"D":["a","b"]},index=[10,20])
var1.join(var2)

    A  B    C    D
10  1  a  1.0    a
20  2  b  2.0    b
30  3  c  NaN  NaN
40  4  d  NaN  NaN

In [9]:
var1=pd.DataFrame({"A":[1,2,3,4],"B":["a","b","c","d"]},index=[10,20,30,40])
var2=pd.DataFrame({"C":[1,2],"D":["a","b"]},index=[10,20])
var2.join(var1)

    C  D  A  B
10  1  a  1  a
20  2  b  2  b

In [10]:
var1=pd.DataFrame({"A":[1,2,3,4],"B":["a","b","c","d"]},index=[10,20,30,40])
var2=pd.DataFrame({"C":[1,2],"D":["a","b"]},index=[10,20])
var2.join(var1,how="right")

      C    D  A  B
10  1.0    a  1  a
20  2.0    b  2  b
30  NaN  NaN  3  c
40  NaN  NaN  4  d

In [11]:
var1=pd.DataFrame({"A":[1,2,3,4],"B":["a","b","c","d"]},index=[10,20,30,40])
var2=pd.DataFrame({"C":[1,2],"D":["a","b"]},index=[10,20])
var2.join(var1,how="left")

    C  D  A  B
10  1  a  1  a
20  2  b  2  b

In [12]:
var1=pd.DataFrame({"A":[1,2,3,4],"B":["a","b","c","d"]},index=[10,20,30,40])
var2=pd.DataFrame({"C":[1,2],"D":["a","b"]},index=[10,20])
var2.join(var1,how="outer")

      C    D  A  B
10  1.0    a  1  a
20  2.0    b  2  b
30  NaN  NaN  3  c
40  NaN  NaN  4  d

In [16]:
var1=pd.DataFrame({"A":[1,2,3,4],"B":["a","b","c","d"]},index=[10,20,30,40])
var2=pd.DataFrame({"C":[1,2],"B":["a","b"]},index=[10,20])
var2.join(var1,how="inner",lsuffix="_12",rsuffix="_123")

    C B_12  A B_123
10  1    a  1     a
20  2    b  2     b

In [23]:
var3=pd.DataFrame({"A":[1,2,3,4],"B":[10,20,30,40]})
var4=pd.DataFrame({"C":[1,2],"B":[3,4]})
result = pd.concat([var3, var4], ignore_index=True)
print(result)

AttributeError: 'DataFrame' object has no attribute 'append'